
@using WebDocTruyen.Models
@model WebDocTruyen.Context.Nguoidung


@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="to">
    @using (Html.BeginForm())
    {
        <div class="form" style="height:330px;">
            <h2>Đăng Nhập</h2>
            <i class="fa-solid fa-user"></i>
            <label style="margin-left: -162px;">Họ tên</label>
            @Html.TextBox("Ten_NguoiDung")
            <label style="margin-left: -138px;">Mật Khẩu</label>
            @Html.Password("Pass_NguoiDung", null, new { style = "width: 70%" })

            <input id="submit" type="submit" name="submit" value="Đăng Nhập">
        </div>
    }

</div>
<link href="~/Content/css/dangky.css" rel="stylesheet" />
