
html {
    color: #000;
    background: #eee;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent
}

body, html {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    background: #eee;
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

input, select, textarea {
    font-size: 100%;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: 400
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 600
}

q:after, q:before {
    content: ''
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a:hover {
    text-decoration: underline
}

a, ins {
    text-decoration: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #016eb2;
    text-decoration: none;
}

small {
    font-size: 0.8em;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
}

#main {
    margin-top: 20px;
}

#main-header {
    height: 50px;
    background: #2C7ABE;
    color: #fff;
}

#main-header .logo {
    float: left;
    margin-right: 10px;
}

#main-header .logo a {
    margin: 5px 0;
    display: block;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
}

#main-header .logo a:before {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    background: url(https://img.dtruyen.com/logo-dtruyen.png) no-repeat;
    background-size: 40px 40px;
    content: "";
    vertical-align: middle;
}

#main-header ul.main-nav {
    float: left;
}

#main-header ul.main-nav>li {
    float: left;
    positioN: relative;
}

#main-header ul.main-nav>li>a {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

#main-header ul.main-nav>li ul {
    position: absolute;
    left: 0;
    top: 50px;
    background: #fff;
    width: 300px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    display: none;
    flex-wrap: wrap;
    z-index: 9;
}

#main-header ul.main-nav>li:hover ul {
    display: flex;
}

#main-header ul.main-nav>li ul li {
    width: 50%;
    flex-shrink: 0;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#main-header ul.main-nav>li ul li:nth-of-type(2n) {
    border-right: none;
}

#main-header ul.main-nav>li ul li:nth-of-type(1),#main-header ul.main-nav>li ul li:nth-of-type(2) {
    border-top: none;
}

#main-header ul.main-nav>li ul li a {
    padding: 8px 16px;
    display: block;
    color: #333;
    text-decoration: none;
}

#main-header ul.main-nav>li ul li a.vip-link {
    color: #e74c3c;
}

#main-header ul.main-nav>li ul li.compose-link {
    width: 100%;
    text-align: center;
}

#main-header ul.main-nav>li ul li.compose-link a {
    color: #e74c3c;
}

#main-header ul.main-nav>li ul li a:hover {
    background: #eee;
}

#search_form {
    float: left;
    padding: 8px 10px;
    position: relative;
}

#search_form input {
    width: 300px;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    border-radius: 1px;
    border: none;
    background: #fff;
    float: left;
}

#search_form button {
    background: #e5e6e9;
    border: none;
    padding: 0 15px;
    line-height: 34px;
    margin-left: 3px;
    border-radius: 1px;
}

.main-col {
    flex: 0 0 68%;
    max-width: 68%;
}

.right-sidebar {
    flex: 0 0 32%;
    max-width: 32%;
    margin-left: 20px;
}

.card-box {
    background: #fff;
    margin-bottom: 12px;
    border-top: 1px solid #e5e6e9;
    border-bottom: 1px solid #e5e6e9;
}

.card-box header {
    padding: 8px 10px;
    border-bottom: 1px solid #e5e6e9;
    color: #2F52B2;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.card-box header i {
    margin: 0 10px;
}

.card-box footer {
    text-align: center;
    padding: 8px 10px;
}

.card-box footer .show-more-btn {
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 15px;
    background: #737373;
    color: #fff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}

.card-box>nav {
    padding: 5px;
    border-bottom: 1px dashed #e5e6e9;
    text-align: center;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.card-box>nav a {
    font-size: 13px;
    letter-spacing: -.5px;
    display: inline-block;
    padding: 5px;
    background: #555;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 2px;
    flex-shrink: 0;
    margin-right: 10px;
}

.vip-1:before {
    display: none;
    content: "VIP";
    color: #e74c3c;
    border: 1px solid #e74c3c;
    width: 27px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 3px;
    letter-spacing: -1px;
    margin-left: 5px;
}

.hot-1:before {
    content: "HOT";
    color: #2c7abe;
    border: 1px solid #2c7abe;
    width: 27px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 3px;
    letter-spacing: -1px;
    margin-left: 5px;
}

.full-end:before {
    content: "FULL";
    color: #090;
    border: 1px solid #090;
    width: 27px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 3px;
    letter-spacing: -1px;
    margin-left: 5px;
}

.side-description {
    line-height: 1.3em;
    margin-bottom: 15px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
}

.side-description ul {
    margin-left: 10px;
    list-style: disc;
}

#reading-stories {
    margin: 10px;
}

.promo-author {
    background: #fff;
    margin-bottom: 12px;
    border-top: 1px solid #e5e6e9;
    border-bottom: 1px solid #e5e6e9;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.promo-author p {
    margin-bottom: 10px;
}

.promo-author .gogo {
    display: inline-block;
    padding: 6px 16px;
    white-space: nowrap;
    border-radius: 2px;
    color: #fff;
    background: #e91b0c;
    margin-top: 10px;
    text-decoration: none;
}

@media print {
    html, body {
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    #main-header:after {
        content:"";
        display: table;
        clear: both;
    }

    #main-header ul.main-nav>li>a {
        padding: 0 5px;
    }

    #search_form input {
        width: 170px;
    }

    .container {
        display: block;
    }

    .card-box>nav {
        overflow: scroll;
    }

    .right-sidebar {
        width: auto;
        margin-right: 20px;
    }

    #userPanel {
        float: right;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        height:100px;
    }
}

#breadcrumb {
    font-size: 14px;
    line-height: 18px;
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
}

#breadcrumb span,#breadcrumb h1 {
    display: inline-block;
    font-weight: 400;
}

#breadcrumb a {
    color: #595959;
    display: inline-block;
    line-height: 40px;
}

.news-item .thumb {
    width: 70px;
    height: 60px;
    white-space: nowrap;
    padding: 10px;
    float: left;
}

.news-item .thumb img {
    height: auto;
}

.news-item__img {
    width: 40px;
    height: 40px;
}

.news-item .title {
    padding-top: 10px;
    padding-right: 10px;
    font-weight: normal;
    margin-left: 70px;
}

.news-item .title a {
    color: #444;
    text-transform: capitalize;
}

.categories a {
    width: 50%;
    float: left;
    padding: 6px 6px 6px 20px;
    color: #444;
    text-transform: capitalize;
}

#story-detail {
    display: flex;
    width: 100%;
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}

#story-detail .col1 {
    width: 220px;
    flex-shrink: 0;
    margin-right: 20px;
}

#story-detail .col2 {
    flex-grow: 1;
}

#story-detail .thumb {
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    width: 220px;
    height: 283px;
}

#story-detail .label-vip-1,#story-detail .label-hot-1 {
    position: absolute;
    top: 10px;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    transform-origin: center;
    -webkit-transform-origin: center;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
}

#story-detail .label-vip-1 {
    background: #df1a0c;
    left: -25px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    display: none;
}

#story-detail .label-hot-1 {
    background: #2c7abe;
    right: -25px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

#story-detail .label-vip-1:before {
    content: "VIP";
}

#story-detail .label-hot-1:before {
    content: "HOT";
}

#story-detail .label-type-1,#story-detail .label-type-2,#story-detail .label-type-3 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 60px;
    height: 70px;
    line-height: 48px;
    background: url(https://img.dtruyen.com/badge2.svg) no-repeat;
    background-size: contain;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
}

#story-detail .label-type-1::before {
    content: "ST"
}

#story-detail .label-type-2::before {
    content: "D"
}

#story-detail .label-type-3::before {
    content: "CV"
}

#story-detail .infos p {
    margin: 8px 0;
    line-height: 1.5;
    display: flex;
}

#story-detail .infos p i {
    width: 20px;
    color: #555;
    flex-shrink: 0;
}

#story-detail .infos p span {
    flex-grow: 1;
    flex-wrap: wrap;
}

#story-detail .infos p span a:after {
    content: ", ";
}

#story-detail .infos p span a:last-child:after {
    content: "";
}

#story-detail .title {
    text-transform: uppercase;
    color: #df1a0c;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

#story-detail .rate {
    text-align: center;
    margin: 8px 0;
    height: 39px;
}

#story-detail .actions {
    text-align: center;
    margin-bottom: 15px;
}

#story-detail .actions a,.comment-form [type="submit"],.replyComment button {
    display: inline-block;
    padding: 6px 16px;
    white-space: nowrap;
    border-radius: 2px;
    color: #fff;
}

#story-detail .actions a.read-btn,#story-detail .actions a.chapter-list {
    background: #2c7abe;
}

#story-detail .actions a#add_favorite {
    background: #e91b0c;
    margin-top: 10px;
}

#story-detail .actions a.read-btn {
    padding: 12px 16px;
    font-weight: bold;
    text-transform: uppercase;
}

#story-detail .actions hr {
    border-top: none;
    margin-top: 10px;
}

#story-detail .actions .reading-info {
    color: #666;
    padding: 10px 0;
    font-size: 13px;
    text-transform: capitalize;
}

#story-detail .desc-title {
    margin: 8px 0;
    border: 1px solid #eee;
    width: 100vw;
    margin-left: -10px;
    padding: 10px 5px;
}

#story-detail .description {
    overflow: hidden;
    padding-top: 15px;
    height: 310px;
    border-top: 1px solid #ddd;
    position: relative;
    font-size: 15px;
    line-height: 1.5;
}


#story-detail .description.show {
    height: auto;
    padding-bottom: 30px;
}


.rate-holder {
    position: relative;
    color: #fafafa;
    display: inline-block;
    text-align: left;
    font-family: webtruyen_icon;
    font-size: 18px;
}

.rate-holder:after {
    content: "";
    display: inline-block;
    width: 180px;
    height: 18px;
    background-image: url(https://img.dtruyen.com/star-empty.svg);
    background-repeat: repeat-x;
    text-shadow: 0 0 1px #000;
    letter-spacing: 5px;
}

.rate-holder span {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffc74c;
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
}

.rate-holder p {
    position: absolute;
    top: 0;
    left: 0;
    color: #ffc74c;
    overflow: hidden;
    height: 100%;
    white-space: nowrap;
    width: 100%;
    letter-spacing: 5px;
}

.rate-holder p i {
    opacity: 0;
}

.rate-holder p i:hover {
    opacity: 0.5;
    color: #000;
}

.chapters li {
    border-bottom: 1px dashed #ddd;
}

.chapters li a {
    padding: 6px 2px 6px 16px;
    color: #333;
    display: block;
    font-size: 15px;
    text-transform: capitalize;
}

.chapters li:hover {
    background: #eee;
}

.chapters li a:visited {
    color: #888;
}

.chapters li.vip-1:before,.chapters.v1 li.vip-0:before {
    display: none;
    position: absolute;
    left: 0;
    top: 5px;
    text-align: center;
    width: 20px;
    font-size: 11px;
    height: 16px;
    line-height: 16px;
    color: #fff;
    background: #e74c3c;
}

.chapters.v1 li.vip-0:before {
    content: "FREE";
    border: 1px solid #090;
    background: #090;
    font-weight: 500;
    padding: 0 3px;
    letter-spacing: -1px;
    margin-left: 5px;
}

.chapters li:last-child {
    border-bottom: none;
}

.pagination-control {
    margin: 10px 0;
    text-align: center;
}

.pagination-control .pagination li {
    display: inline-block;
}

.pagination-control .pagination li a {
    padding: 5px 12px;
    display: inline-block;
    color: #737373;
    font-size: 18px;
    font-weight: 500;
}

.pagination-control .pagination li.active a {
    background: #2F52B2;
    color: #fff;
}

.goto {
    width: 170px;
    margin: 5px auto 15px auto;
}

.goto label {
    font-size: 12px;
    line-height: 34px;
    float: left;
    margin-right: 5px;
}

.goto input {
    height: 34px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    width: 60px;
    float: left;
}

.goto button {
    background: #2F52B2;
    color: #fff;
    border: none;
    line-height: 34px;
    padding: 0 10px;
    cursor: pointer;
}

.comment-form {
    padding: 20px;
}

.comment-form textarea {
    width: 100%;
    height: 70px;
    padding: 10px;
    background: #f2f2f2;
}

.comment-form [type="submit"] {
    border: none;
    background: #277CB4;
    color: #fff;
}

#comment-char-count {
    font-style: italic;
    font-weight: 600;
    font-size: 13px;
}

#comment-char-count span {
    color: #e74c3c;
}

.comment-form .text-right {
    text-align: right;
}

#comment-more {
    text-align: center;
    margin-bottom: 10px;
}

#comment-more a {
    display: inline-block;
    outline: 0;
    padding: 6px 16px;
    cursor: pointer;
    white-space: nowrap;
    background-color: #757575;
    color: #fff;
    border-radius: 30px;
}

.story-top {
    border-bottom: 1px dashed #e5e6e9;
}

.story-top:before {
    width: 50px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    letter-spacing: -.5px;
    color: #2980b9;
    float: left;
}

.top-stories .story-top:nth-of-type(1):before {
    content: "01";
    color: #e74c3c;
}

.top-stories .story-top:nth-of-type(2):before {
    content: "02";
    color: #3a833c;
}

.top-stories .story-top:nth-of-type(3):before {
    content: "03";
    color: #8f6b00;
}

.top-stories .story-top:nth-of-type(4):before {
    content: "04";
}

.top-stories .story-top:nth-of-type(5):before {
    content: "05";
}


.story-top:after {
    content: "";
    display: table;
    clear: both;
}

.story-top .title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -1px;
    padding-top: 6px;
    padding-right: 6px;
    overflow: hidden;
}

.story-top .title a {
    color: #333;
}

.story-top .viewed {
    color: #757575;
    font-size: 11px;
}


.comment-list {
    list-style-type: none;
    padding: 0;
}

.comment {
    margin-bottom: 20px;
    padding: 10px 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.author {
    font-weight: bold;
    margin-right: 10px;
    color: #555;
}

.content {
    margin-left: 20px;
    color: #333;
}

/* Footer */
#footer {
    width: 100%;
    padding: 30px 0 0 20px;
    background-color: #eee;
    border-top: 4px solid #fac031;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer__container {
        
}

.footer__container-heading {
    color: #000;
    margin-bottom: 24px;
    font-size: 20px;
}

.footer__container-tag {
    margin: 10px 0;
    font-size: 16px;
    display: block;
}

.footer__container-tag:hover {
    color: #fac031;
    cursor: pointer;
}

.footer__container-icon {
    margin: 0 4px 0 0;
    font-size: 18px;
}

.footer__container-icon:hover {
    color: #fac031;
    cursor: pointer;
}

.footer__copyright {
    text-align: center;
    margin-top: 32px;
    padding-bottom: 32px;
}

.footer__copyright-text {
    font-size: 14px;
}