
html {
    color: #000;
    background: #eee;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    scroll-behavior: smooth;
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent
}

body, html {
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 14px;
    background: #eee;
}

article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

input, select, textarea {
    font-size: 100%;
    font-family: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: 400
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 600
}

q:after, q:before {
    content: ''
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a:hover {
    text-decoration: underline
}

a, ins {
    text-decoration: none
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #016eb2;
    text-decoration: none;
}

small {
    font-size: 0.8em;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
}

#main {
    margin-top: 20px;
}

#main-header {
    height: 50px;
    background: #2C7ABE;
    color: #fff;
}

#main-header .logo {
    float: left;
    margin-right: 10px;
}

#main-header .logo a {
    margin: 5px 0;
    display: block;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 17px;
    text-transform: capitalize;
    font-weight: 600;
}

#main-header .logo a:before {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    background: url(https://img.dtruyen.com/logo-dtruyen.png) no-repeat;
    background-size: 40px 40px;
    content: "";
    vertical-align: middle;
}

#main-header ul.main-nav {
    float: left;
}

#main-header ul.main-nav>li {
    float: left;
    positioN: relative;
}

#main-header ul.main-nav>li>a {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    color: #fff;
}

#main-header ul.main-nav>li ul {
    position: absolute;
    left: 0;
    top: 50px;
    background: #fff;
    width: 300px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    display: none;
    flex-wrap: wrap;
    z-index: 9;
}

#main-header ul.main-nav>li:hover ul {
    display: flex;
}

#main-header ul.main-nav>li ul li {
    width: 50%;
    flex-shrink: 0;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

#main-header ul.main-nav>li ul li:nth-of-type(2n) {
    border-right: none;
}

#main-header ul.main-nav>li ul li:nth-of-type(1),#main-header ul.main-nav>li ul li:nth-of-type(2) {
    border-top: none;
}

#main-header ul.main-nav>li ul li a {
    padding: 8px 16px;
    display: block;
    color: #333;
    text-decoration: none;
}

#main-header ul.main-nav>li ul li a.vip-link {
    color: #e74c3c;
}

#main-header ul.main-nav>li ul li.compose-link {
    width: 100%;
    text-align: center;
}

#main-header ul.main-nav>li ul li.compose-link a {
    color: #e74c3c;
}

#main-header ul.main-nav>li ul li a:hover {
    background: #eee;
}

#search_form {
    float: left;
    padding: 8px 10px;
    position: relative;
}

#search_form input {
    width: 300px;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
    border-radius: 1px;
    border: none;
    background: #fff;
    float: left;
}

#search_form button {
    background: #e5e6e9;
    border: none;
    padding: 0 15px;
    line-height: 34px;
    margin-left: 3px;
    border-radius: 1px;
}

.main-col {
    flex: 0 0 68%;
    max-width: 68%;
}

.right-sidebar {
    flex: 0 0 32%;
    max-width: 32%;
    margin-left: 20px;
}

.card-box {
    background: #fff;
    margin-bottom: 12px;
    border-top: 1px solid #e5e6e9;
    border-bottom: 1px solid #e5e6e9;
}

.card-box header {
    padding: 8px 10px;
    border-bottom: 1px solid #e5e6e9;
    color: #2F52B2;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.card-box header i {
    margin: 0 10px;
}

.card-box footer {
    text-align: center;
    padding: 8px 10px;
}

.card-box footer .show-more-btn {
    padding: 5px 20px;
    font-size: 14px;
    border-radius: 15px;
    background: #737373;
    color: #fff;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    display: inline-block;
}

.card-box>nav {
    padding: 5px;
    border-bottom: 1px dashed #e5e6e9;
    text-align: center;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.card-box>nav a {
    font-size: 13px;
    letter-spacing: -.5px;
    display: inline-block;
    padding: 5px;
    background: #555;
    color: #fff;
    margin-bottom: 5px;
    border-radius: 2px;
    flex-shrink: 0;
    margin-right: 10px;
}

.vip-1:before {
    display: none;
    content: "VIP";
    color: #e74c3c;
    border: 1px solid #e74c3c;
    width: 27px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 3px;
    letter-spacing: -1px;
    margin-left: 5px;
}

.hot-1:before {
    content: "HOT";
    color: #2c7abe;
    border: 1px solid #2c7abe;
    width: 27px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 3px;
    letter-spacing: -1px;
    margin-left: 5px;
}

.story-list .info .label-type-1::before,.story-list .info .label-type-2::before,.story-list .info .label-type-3::before {
    color: #e74c3c;
    border: 1px solid #e74c3c;
    width: 27px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 3px;
    letter-spacing: -1px;
    margin-left: 5px;
}

.story-list .info .label-type-1::before {
    content: "SÁNG TÁC";
}

.story-list .info .label-type-2::before {
    content: "DỊCH";
}

.story-list .info .label-type-3::before {
    content: "CONVERT";
}

.full-end:before {
    content: "FULL";
    color: #090;
    border: 1px solid #090;
    width: 27px;
    font-size: 13px;
    font-weight: 500;
    padding: 0 3px;
    letter-spacing: -1px;
    margin-left: 5px;
}

.side-description {
    line-height: 1.3em;
    margin-bottom: 15px;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
}

.side-description ul {
    margin-left: 10px;
    list-style: disc;
}

#reading-stories {
    margin: 10px;
}

#reading-stories>div {
    margin-bottom: 10px;
    display: flex;
    background: #ffeecc;
    border: 1px solid #ffcc66;
    border-radius: 40px;
    height: 40px;
}

#reading-stories>div:last-child {
    margin-bottom: 0;
}

#reading-stories>div>a {
    flex-grow: 1;
    overflow: hidden;
    color: #000;
}

#reading-stories>div>a h5 {
    display: block;
    white-space: nowrap;
    font-weight: 600;
    font-size: 13px;
}

#reading-stories>div>a em {
    margin-right: 20px;
}

#reading-stories>div>a em,#reading-stories>div>a span {
    font-size: 12px;
}

#reading-stories>div>i {
    float: left;
    width: 40px;
    line-height: 40px;
    text-align: center;
    flex-shrink: 0;
}

#reading-stories>div>button {
    flex-shrink: 0;
    width: 44px;
    border: none;
    background: none;
    font-size: 21px;
    text-align: center;
    line-height: 36px;
    margin: 2px 0;
    border-left: 1px solid #ffcc66;
}

#reading-stories>div>span {
    line-height: 40px;
    flex-shrink: 0;
    font-size: 13px;
    text-align: right;
    margin: 0 5px 0 10px;
}

.promo-author {
    background: #fff;
    margin-bottom: 12px;
    border-top: 1px solid #e5e6e9;
    border-bottom: 1px solid #e5e6e9;
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.promo-author p {
    margin-bottom: 10px;
}

.promo-author .gogo {
    display: inline-block;
    padding: 6px 16px;
    white-space: nowrap;
    border-radius: 2px;
    color: #fff;
    background: #e91b0c;
    margin-top: 10px;
    text-decoration: none;
}

@media print {
    html, body {
        display: none;
    }
}

@media only screen and (max-width: 860px) {
    #main-header:after {
        content:"";
        display: table;
        clear: both;
    }

    #main-header ul.main-nav>li>a {
        padding: 0 5px;
    }

    #search_form input {
        width: 170px;
    }

    .container {
        display: block;
    }

    .card-box>nav {
        overflow: scroll;
    }

    .right-sidebar {
        width: auto;
        margin-right: 20px;
    }

    #userPanel {
        float: right;
    }
}

@media only screen and (max-width: 600px) {
    #header {
        height:100px;
    }
}

.swipe-stories {
    margin: 10px 5px;
    overflow-x: hidden;
    position: relative;
    height: 274px;
    width: 670px;
}

.swipe-stories ul {
    display: flex;
    transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    -moz-transform: translateX(0);
}

.swipe-stories ul li {
    width: 33.3334%;
    flex-shrink: 0;
    padding: 0 5px;
}

.swipe-stories .direction-btn {
    position: absolute;
    top: 35%;
    height: 100px;
    margin-top: -50px;
    line-height: 100px;
    z-index: 9;
    font-size: 5rem;
    color: #fff;
    text-shadow: 0 0 10px #000;
}

.swipe-stories .direction-btn.disabled {
    opacity: 0.2;
}

.swipe-stories .direction-btn.prev {
    left: 15px;
}

.swipe-stories .direction-btn.next {
    right: 15px;
}

.swipe-stories .fa-angle-right:before {
    content: '';
    width: 30px;
    height: 60px;
    display: inline-block;
    
}

.swipe-stories .fa-angle-left:before {
    content: '';
    width: 30px;
    height: 60px;
    display: inline-block;
    
}

.story-hot {
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    position: relative;
}

.story-hot .thumb {
    display: block;
}

.story-hot .thumb img {
    width: 100%;
    height: auto;
    display: block;
}

.story-hot .info {
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.8);
    color: #fff;
    text-align: center;
}

.story-hot .title a {
    color: #fff;
}

.story-hot .last-chapter {
    font-size: 12px;
    color: rgba(255,255,255,0.8);
}

.grid-stories {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.story-grid {
    width: 152px;
    height: auto;
}

.story-grid .thumb {
    display: block;
    position: relative;
}

.story-grid .thumb img {
    width: 100%;
    height: auto;
    display: block;
}

.story-grid .thumb .label-type-1,.story-grid .thumb .label-type-2,.story-grid .thumb .label-type-3 {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 45px;
    height: 52px;
    line-height: 36px;
    background: url(https://img.dtruyen.com/badge2.svg) no-repeat;
    background-size: contain;
    color: #fff;
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
}

.story-grid .thumb .label-type-1::before {
    content: "ST"
}

.story-grid .thumb .label-type-2::before {
    content: "D"
}

.story-grid .thumb .label-type-3::before {
    content: "CV"
}

.story-grid .info {
    padding: 8px;
    text-align: center;
}

.story-grid .title a {
    color: #000;
}

.story-grid .last-chapter {
    color: #707070;
    font-size: 12px;
}

.story-list {
    display: flex;
    padding: 8px 10px;
    border-bottom: 1px dashed #ddd;
}

.story-list:hover {
    background: #eee;
}

.story-list .info {
    flex-grow: 1;
}

.story-list .info .title {
    font-size: 15px;
    line-height: 14px;
    font-weight: 500;
    display: inline;
    letter-spacing: -0.5px;
    text-transform: capitalize;
}

.story-list .info .title a {
    color: #444;
}

.story-list .last-chapter,.story-list .last-updated {
    font-size: 13px;
    color: #707070;
    text-align: right;
    flex-shrink: 0;
}

.story-list .last-chapter {
    width: 140px;
}

.story-list .last-updated {
    width: 100px;
}

.categories a {
    width: 50%;
    float: left;
    padding: 6px 6px 6px 20px;
    color: #444;
    text-transform: capitalize;
}


.categories a:before {
    display: inline-block;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    display: inline-block;
}


.news-item .thumb {
    width: 70px;
    height: 60px;
    white-space: nowrap;
    padding: 10px;
    float: left;
}

.news-item .thumb img {
    height: auto;
}

.news-item__img {
    width: 40px;
    height: 40px;
}

.news-item .title {
    padding-top: 10px;
    padding-right: 10px;
    font-weight: normal;
    margin-left: 70px;
}

.news-item .title a {
    color: #444;
    text-transform: capitalize;
}

.story-top {
    border-bottom: 1px dashed #e5e6e9;
}

.story-top:before {
    width: 50px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-weight: 200;
    font-size: 25px;
    letter-spacing: -.5px;
    color: #2980b9;
    float: left;
}

.top-stories .story-top:nth-of-type(1):before {
    content: "01";
    color: #e74c3c;
}

.top-stories .story-top:nth-of-type(2):before {
    content: "02";
    color: #3a833c;
}

.top-stories .story-top:nth-of-type(3):before {
    content: "03";
    color: #8f6b00;
}

.top-stories .story-top:nth-of-type(4):before {
    content: "04";
}

.top-stories .story-top:nth-of-type(5):before {
    content: "05";
}



.story-top:after {
    content: "";
    display: table;
    clear: both;
}

.story-top .title {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -1px;
    padding-top: 6px;
    padding-right: 6px;
    overflow: hidden;
}

.story-top .title a {
    color: #333;
}

.story-top .viewed {
    color: #757575;
    font-size: 11px;
}

.short-stories {
    display: flex;
}

.short-stories .large {
    width: 345px;
    height: 248px;
    margin-right: 15px;
    flex-shrink: 0;
}

.short-stories .large .short-story {
    position: relative;
}

.short-stories .large .title {
    position: absolute;
    padding: 10px;
    background: rgba(0,0,0,0.8);
    bottom: 0;
    left: 0;
    right: 0;
}

.short-stories .large .title a {
    color: #fff;
}

.short-stories .small {
    flex-grow: 1;
}

.short-stories .small .short-story {
    width: 320px;
    height: 47px;
    margin-bottom: 5px;
}

.short-stories .small .thumb {
    width: 81px;
    height: 47px;
    white-space: nowrap;
    float: left;
    margin-right: 10px;
}

.short-stories .small .title {
    font-weight: normal;
}

.short-stories .small .title a {
    color: #333;
}


/* Footer */
#footer {
    width: 100%;
    padding: 30px 0 0 20px;
    background-color: #eee;
    border-top: 4px solid #fac031;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.footer__container {
        
}

.footer__container-heading {
    color: #000;
    margin-bottom: 24px;
    font-size: 20px;
}

.footer__container-tag {
    margin: 10px 0;
    font-size: 16px;
    display: block;
}

.footer__container-tag:hover {
    color: #fac031;
    cursor: pointer;
}

.footer__container-icon {
    margin: 0 4px 0 0;
    font-size: 18px;
}

.footer__container-icon:hover {
    color: #fac031;
    cursor: pointer;
}

.footer__copyright {
    text-align: center;
    margin-top: 32px;
    padding-bottom: 32px;
}

.footer__copyright-text {
    font-size: 14px;
}