
@{
    ViewBag.Title = "ReviewMore";
}

<div id="main" class="main" data-type="review" role="main" itemscope itemprop="mainContentOfPage">
    <div class="container">
        <div class="main-col">
            <div id="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="" itemprop="item">
                        <i class="fa-solid fa-house"></i>
                        <span itemprop="name">Trang Chủ</span>
                        <meta itemprop="position" content="1">
                    </a>
                    <i class="fa-solid fa-angle-right"></i>
                </span>
                <h1 itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                    <a href="" itemprop="item">
                        <span itemprop="name">Review Truyên</span>
                        <meta itemprop="position" content="2">
                    </a>
                </h1>
            </div>
            
            <section class="card-box">
                <header>
                    <h2>Review All</h2>
                </header>
                <div class="list-review">
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Phàm Nhân Tu Tiên">Phàm Nhân Tu Tiên</a>
                        </h4>
                        <a href="" class="thumb" title="Phàm Nhân Tu Tiên" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/pham_nhan_tu_tien.jpg" alt="Phàm Nhân Tu Tiên" />
                        </a>
                        <p>Top truyện ngôn tình cổ đại hay nhất tổng hợp các truyện lấy bối cảnh thời cổ xưa với những nét phác họa về nhân vật hết sức riêng biệt được chọn lọc trên khắp các sàn truyện lớn hiện nay</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Đấu Phá Thương Khung">Đấu Phá Thương Khung</a>
                        </h4>
                        <a href="" class="thumb" title="Đấu Phá Thương Khung" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/dau_pha_thuong_khung.jpg" alt="Đấu Phá Thương Khung" />
                        </a>
                        <p>Top truyện sắc hiệp hay là một trong những từ khóa được độc giả tìm kiếm nhiều nhất trong thời gian vừa qua. Truyện sắc hiệp là truyện mang yếu tố kiếm hiệp kết hợp với “sắc” nghiêm trọng hơn là có đoạn miêu tả chưa phù hợp với độc giả dưới 18 tuổi.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Thế Giới Hoàn Mỹ">Thế Giới Hoàn Mỹ</a>
                        </h4>
                        <a href="" class="thumb" title="Thế Giới Hoàn Mỹ" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/the_gioi_hoan_my.jpg" alt="Thế Giới Hoàn Mỹ" />
                        </a>
                        <p>Top truyện sinh tồn hay tổng hợp các truyện sinh tồn được độc giả săn đón nhất thời điểm hiện nay. Thể loại này cuốn hút người đọc bởi sự bất ngờ, gay cấn và thú vị. </p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Âm Chi Ngoại">Âm Chi Ngoại</a>
                        </h4>
                        <a href="" class="thumb" title="Âm Chi Ngoại" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/am_chi_ngoai.jpg" alt="Âm Chi Ngoại" />
                        </a>
                        <p>Top truyện ngôn tình hay nên đọc tổng hợp các truyện ngôn tình hay, bao gồm: truyện hiện đại hoàn, truyện hiện đại mới nhất, truyện sắc, sủng, ngược, nữ cường, trọng sinh, tổng tài,...</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Vợ Cả Mỹ Nhân">Vợ Cả Mỹ Nhân</a>
                        </h4>
                        <a href="" class="thumb" title="Vợ Cả Mỹ Nhân" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/vo_ca_my_nhan.jpg" alt="Vợ Cả Mỹ Nhân" />
                        </a>
                        <p>Top những truyện ngôn tình hay nhất tổng hợp những truyện ngôn tình hay nhất do độc giả bình chọn. Nếu còn đang băn khoăn không biết nên đọc truyện nào thì đừng bỏ qua top những truyện ngôn tình hay nhất dưới đây nhé.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Sống Lại Làm Giàu">Sống Lại Làm Giàu</a>
                        </h4>
                        <a href="" class="thumb" title="Sống Lại Làm Giàu" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/song_lai_lam_giau.jpg" alt="Sống Lại Làm Giàu" />
                        </a>
                        <p>Top 10 truyện ngôn tình là những tác phẩm nổi bật được chọn lọc trên khắp các sàn truyện lớn hiện nay. Chuyện kể về những câu chuyện tình cảm giữa nam và nữ ( hay nam - nam) với đủ các khung bậc cảm xúc, sắc thái.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Vai Ác Thiên Tài">Vai Ác Thiên Tài</a>
                        </h4>
                        <a href="" class="thumb" title="Vai Ác Thiên Tài" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/vai_ac_thien_tai.jpg" alt="Vai Ác Thiên Tài" />
                        </a>
                        <p>Top truyện đam mỹ sủng luôn là các truyện thuộc thể loại đam mỹ, với nhân vật “thụ” luôn được “công” yêu thương, chiều chuộng hết mực. “Công” chăm sóc ”thụ” từng li từng tí và không nỡ làm người yêu mình tổn thương dù chỉ là một chút hoặc ngược lại, “ thụ” luôn yêu chiều “công” tới vô điều kiện, luô</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Trở Thành Nữ Xứng">Trở Thành Nữ Xứng</a>
                        </h4>
                        <a href="" class="thumb" title="Trở Thành Nữ Xứng" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/tro_thanh_nu_xung.jpg" alt="Trở Thành Nữ Xứng" />
                        </a>
                        <p>Top truyện xuyên không hay nhất là những truyện được chọn lọc, thu thập trên khắp các diễn đàn truyện lớn. Xuyên không là thể loại phi thực, kể về cuộc sống của nhân vật chính sau khi đến một không gian, thời gian khác vi một lí do nào đó</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện xuyên không được đề cử tháng 8-2021">Top truyện xuyên không được đề cử tháng 8-2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện xuyên không được đề cử tháng 8-2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/linh_vu_thien_ha.jpg" alt="Top truyện xuyên không được đề cử tháng 8-2021" />
                        </a>
                        <p>Top truyện xuyên không tổng hợp các truyện được nhiều bạn trẻ yêu thích nhất hiện nay. Đúng với tên gọi xuyên không, trong các bộ truyện này không thể thiếu các tình huống mà nhân vật chính vì một lý do nào đó mà bị buộc phải quay về quá khứ hoặc đi tới tương lai và sống trong một khoảng không gian </p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện ngôn tình nhiều lượt đọc nhất 2021">Top truyện ngôn tình nhiều lượt đọc nhất 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện ngôn tình nhiều lượt đọc nhất 2021" rel="nofollow">

                            <img width="160" height="112" src="~/Content/img/the_chien_tu_chan.jpg" alt="Top truyện ngôn tình nhiều lượt đọc nhất 2021" />
                        </a>
                        <p>Top truyện ngôn tình là từ khóa được rất nhiều đọc giả săn đón trong những năm nay. Ngôn tình có thể coi là thể loại hot có có nhiều fan nhất.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện ngôn tình cổ đại hay nhất tháng 10-2021">Top truyện ngôn tình cổ đại hay nhất tháng 10-2021</a>
                        </h4>

                        <a href="" class="thumb" title="Top truyện ngôn tình cổ đại hay nhất tháng 10-2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/the_gioi_kinh_di.jpg" alt="Top truyện ngôn tình cổ đại hay nhất tháng 10-2021" />
                        </a>
                        <p>Top truyện ngôn tình cổ đại hay nhất tổng hợp các truyện lấy bối cảnh thời cổ xưa với những nét phác họa về nhân vật hết sức riêng biệt được chọn lọc trên khắp các sàn truyện lớn hiện nay</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện nên đọc được đề cử tháng 9">Top truyện nên đọc được đề cử tháng 9</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện nên đọc được đề cử tháng 9" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/the_tu_kieu_diem.jpg" alt="Top truyện nên đọc được đề cử tháng 9" />
                        </a>
                        <p>Top truyện nên đọc tổng hợp các truyện sẽ in sâu trong tâm trí bất cứ ai khi đọc qua, dù chỉ một lần. Và sẽ là những quyển sách gối đầu giường biết bao người yêu sách.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top 10 truyện ngôn tình hay nhất do độc giả bình chọn tháng 9">Top 10 truyện ngôn tình hay nhất do độc giả bình chọn tháng 9</a>
                        </h4>
                        <a href="" class="thumb" title="Top 10 truyện ngôn tình hay nhất do độc giả bình chọn tháng 9" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/thien_ha_de_nhat.jpg" alt="Top 10 truyện ngôn tình hay nhất do độc giả bình chọn tháng 9" />
                        </a>
                        <p>Top 10 truyện ngôn tình hay nhất là những tác phẩm nổi bật được chọn lọc trên khắp các sàn truyện lớn hiện nay. Chuyện kể về những câu chuyện tình cảm đặc sắc, có vui có buồn, có chia ly có hạnh phúc.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top 10 truyện đam mỹ đã hoàn hay nhất mọi thời đại">Top 10 truyện đam mỹ đã hoàn hay nhất mọi thời đại</a>
                        </h4>
                        <a href="" class="thumb" title="Top 10 truyện đam mỹ đã hoàn hay nhất mọi thời đại" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/gio_dem_to_tinh.jpg" alt="Top 10 truyện đam mỹ đã hoàn hay nhất mọi thời đại" />
                        </a>
                        <p>Top truyện đam mỹ hay đã hoàn mà mình liệt kê trong list này đều là những bộ rất hay, có những đã được chuyển thể thành phim truyền hình và nhận được đông đảo lời khen ngợi.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện ngôn tình đô thị hay được đề cử 2021">Top truyện ngôn tình đô thị hay được đề cử 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện ngôn tình đô thị hay được đề cử 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/tu_si_qua_phu.jpg" alt="Top truyện ngôn tình đô thị hay được đề cử 2021" />
                        </a>
                        <p>Top 10 truyện ngôn tình đô thị hay tổng hợp những truyện ngôn tình ở thế giới hiện đại. Ngôn tình đô thị gần gũi và có mối liên hệ với thế giới hiện tại nên được nhiều độc giả yêu thích và tìm kiếm. Dưới đây là top 10 truyện ngôn tình đô thị hay do độc giả bầu chọn.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện trọng sinh hay nhất nửa đầu năm 2021">Top truyện trọng sinh hay nhất nửa đầu năm 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện trọng sinh hay nhất nửa đầu năm 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/than_bi_chi_kiep.jpg" alt="Top truyện trọng sinh hay nhất nửa đầu năm 2021" />
                        </a>
                        <p>Top truyện trọng sinh tổng hợp các truyện mà nhân vật chính sống lại, làm lại từ đầu, trả thù những kẻ đã hại mình. Đây là một thể loại với cốt truyện rộng và đầy sự cuốn hút, gay cấn.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện dị năng hay nhất mọi thời đại">Top truyện dị năng hay nhất mọi thời đại</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện dị năng hay nhất mọi thời đại" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/tien_nghich.jpg" alt="Top truyện dị năng hay nhất mọi thời đại" />
                        </a>
                        <p>Top truyện dị năng hay nhất tổng hợp các truyện mà trong đó nhân vật chính thường mang năng lực đặc biệt, người thường không thể có được.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện tiên hiệp hay nhất dành cho fan nam 2021">Top truyện tiên hiệp hay nhất dành cho fan nam 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện tiên hiệp hay nhất dành cho fan nam 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/ho_ly.jpg" alt="Top truyện tiên hiệp hay nhất dành cho fan nam 2021" />
                        </a>
                        <p>Tiên hiệp là thể loại không ngọt ngào và hồng phấn như ngôn tình nhưng nó đã phác hoạ rất tốt những thế giới huyền ảo, kỳ bí dẫn người đọc đến với tưởng tượng phong phú, bất tận. Vì vậy, tiên hiệp vẫn mang nét hay riêng biệt không hề kém cạnh với ngôn tình hay các thể loại truyện khác.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện ngôn tình hiện đại hay nhất mọi thời đại">Top truyện ngôn tình hiện đại hay nhất mọi thời đại</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện ngôn tình hiện đại hay nhất mọi thời đại" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/su_phu_toi_la_than_tien.jpg" alt="Top truyện ngôn tình hiện đại hay nhất mọi thời đại" />
                        </a>
                        <p>Top truyện ngôn tình hiện đại hay nhất tổng hợp những truyện ngôn tình mà tác giả phải miệt mài ngồi viết từng câu từng chữ khiến người bắt buộc phải đọc say mê, trong đó các giai thoại tình yêu, âm mưu quỷ kế là điều khiến bạn đọc quan tâm tới nhiều nhất.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện ngôn tình tổng tài đề cử tháng 9">Top truyện ngôn tình tổng tài đề cử tháng 9</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện ngôn tình tổng tài đề cử tháng 9" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/cuong_thi.jpg" alt="Top truyện ngôn tình tổng tài đề cử tháng 9" />
                        </a>
                        <p>Ngôn tình tổng tài cũng là một thể loại luôn làm mưa làm gió trên các diễn đàn văn học ở cả Trung Quốc lẫn Việt Nam. Ngôn tình tổng tài luôn khiến bạn đọc đắm chìm trong những tình yêu màu hường cùng với những anh chàng tổng tài “bên ngoài đẹp trai, bên trong nhiều tiền”.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top ngôn tình trinh thám được đề cử năm 2021">Top ngôn tình trinh thám được đề cử năm 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top ngôn tình trinh thám được đề cử năm 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/thien_ha_de_nhat.jpg" alt="Top ngôn tình trinh thám được đề cử năm 2021" />
                        </a>
                        <p>Top truyện ngôn tình trinh thám là từ khóa được khá nhiều độc giả tìm kiếm. Mặc dù ngôn tình trinh thám không phải là thể loại “đắt giá” nhất trong giới ngôn tình nhưng với nhiều bạn, truyện ngôn tình trinh thám là thể loại ám ảnh nhất.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top 10 truyện trinh thám hay nhất 2021">Top 10 truyện trinh thám hay nhất 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top 10 truyện trinh thám hay nhất 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/de_ba.jpg" alt="Top 10 truyện trinh thám hay nhất 2021" />
                        </a>
                        <p>Top 10 truyện trinh thám hay nhất tổng hợp các truyện thuộc thể loại trinh thám được độc giả yêu thích và chào đón nhất thời gian hiện nay. Thể loại này thích hợp với các bạn thích tư duy logic cũng như muốn được thử trải nghiệm suy luận, phá án theo bước chân các nhân vật chính.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện ngôn tình hay nhất tháng 9-2021">Top truyện ngôn tình hay nhất tháng 9-2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện ngôn tình hay nhất tháng 9-2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/lac_lac.jpg" alt="Top truyện ngôn tình hay nhất tháng 9-2021" />
                        </a>
                        <p>Top truyện ngôn tình hay tổng hợp các truyện ngôn tình được độc giả yêu thích nhất. Thể loại ngôn tình có thể xem là thể loại có nhiều truyện cũng như nhiều fan nhất.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện của Phỉ Ngã Tư Tồn hay nhất 2021">Top truyện của Phỉ Ngã Tư Tồn hay nhất 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện của Phỉ Ngã Tư Tồn hay nhất 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/lac_lac.jpg" alt="Top truyện của Phỉ Ngã Tư Tồn hay nhất 2021" />
                        </a>
                        <p>Phỉ Ngã Tư Tồn là bút danh rất đỗi quen thuộc trong làng truyện ngôn tình. Nếu như bạn là fan cứng của truyện ngôn tình Trung Quốc thì hẳn là không xa lạ gì với truyện ngôn tình ngược, và cũng càng không xa lạ gì với bút danh Phỉ Ngã Tư Tồn.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện tiên hiệp nên đọc 2021">Top truyện tiên hiệp nên đọc 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện tiên hiệp nên đọc 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/de_ba.jpg" alt="Top truyện tiên hiệp nên đọc 2021" />
                        </a>
                        <p>Top 10 truyện tiên hiệp đáng đọc tổng hợp các bộ truyện tiên hiệp hay viết về một hành trình tu luyện, tu đạo đầy trắc trở của người tu hành. Thể loại này vô cùng được ưa chuộng tại xứ Trung Hoa, nhiều tác phẩm được chuyển thể thành phim, nâng tầm tên tuổi tác giả và diễn viên.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện lãng mạn có lượt đọc nhiều nhất 2021">Top truyện lãng mạn có lượt đọc nhiều nhất 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện lãng mạn có lượt đọc nhiều nhất 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/de_ba.jpg" alt="Top truyện lãng mạn có lượt đọc nhiều nhất 2021" />
                        </a>
                        <p>Top truyện lãng mạn tổng hợp những bộ truyện lãng mạn hay nhất và được coi như một món ăn tinh thần vô cùng ngon miệng cho những tín đồ thích ngôn tình, bởi những tình tiết ngọt ngào, tuyệt đẹp của tình yêu.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top 10 truyện ngôn tình Trung Quốc hay nhất mọi thời đại">Top 10 truyện ngôn tình Trung Quốc hay nhất mọi thời đại</a>
                        </h4>
                        <a href="" class="thumb" title="Top 10 truyện ngôn tình Trung Quốc hay nhất mọi thời đại" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/lac_lac.jpg" alt="Top 10 truyện ngôn tình Trung Quốc hay nhất mọi thời đại" />
                        </a>
                        <p>Top 10 truyện ngôn tình Trung Quốc hay nhất tổng hợp các tác phẩm ngôn tình Trung Quốc nổi bật được chọn lọc trên khắp các sàn truyện lớn hiện nay trong năm 2021. Chuyện kể về những câu chuyện tình cảm giữa nam và nữ ( hay nam - nam) với đủ các khung bậc cảm xúc, sắc thái.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top 10 truyện đam mỹ hay nhất mọi thời đại">Top 10 truyện đam mỹ hay nhất mọi thời đại</a>
                        </h4>
                        <a href="" class="thumb" title="Top 10 truyện đam mỹ hay nhất mọi thời đại" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/lac_lac.jpg" alt="Top 10 truyện đam mỹ hay nhất mọi thời đại" />
                        </a>
                        <p>Top 10 bộ đam mỹ hay nhất mọi thời đại là từ khóa được độc giả tìm kiếm rất nhiều trong thời gian gần đây. Từ đó có thể thấy thể loại đam mỹ ngày càng phổ biến và dần trở thành món ăn tinh thần của nhiều người mê truyện.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Truyện điền văn hay đáng đọc nhất 2021">Truyện điền văn hay đáng đọc nhất 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Truyện điền văn hay đáng đọc nhất 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/lac_lac.jpg" alt="Truyện điền văn hay đáng đọc nhất 2021" />
                        </a>
                        <p>Top truyện điền văn tổng hợp các truyện hay tiêu biểu thuộc thể loại điền văn. Thể loại này khá đặc biệt với những tình tiết không mấy cao trào, nó cứ bình bình diễn ra như chính cuộc sống của chúng ta vậy. Đọc truyện thể loại điền văn</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top 10 sách truyền cảm hứng được đề cử 2021">Top 10 sách truyền cảm hứng được đề cử 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top 10 sách truyền cảm hứng được đề cử 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/lac_lac.jpg" alt="Top 10 sách truyền cảm hứng được đề cử 2021" />
                        </a>
                        <p>Đặc biệt những cuốn sách có thể hướng người đọc thay đổi cuộc sống, cải thiện tinh thần và có những định hướng đúng đắn cho sự nghiệp. Bạn là một người trẻ đang muốn tìm cho mình một hướng đi riêng, một công việc thú vị và bạn cần một niềm cảm hứng để làm tất cả những điều này.</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Truyện tình cảm phương Tây do độc giả đề cử tháng 9">Truyện tình cảm phương Tây do độc giả đề cử tháng 9</a>
                        </h4>
                        <a href="" class="thumb" title="Truyện tình cảm phương Tây do độc giả đề cử tháng 9" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/lac_lac.jpg" alt="Truyện tình cảm phương Tây do độc giả đề cử tháng 9" />
                        </a>
                        <p>Top 10 truyện lãng mạn phương Tây tổng hợp những truyện thuộc thể loại lãng mạn và được sáng tác bởi các tác giả phương Tây. Các truyện trong top đều là các truyện hay và nổi tiếng, nên nếu bạn đang tìm kiếm một truyện lãng mạn phương Tây để đọc những lúc rảnh rỗi thì đừng bỏ qua</p>
                    </div>
                    <div class="news-item">
                        <h4 class="title">
                            <a href="" title="Top truyện ngược cổ đại tâm đắc nhất 2021">Top truyện ngược cổ đại tâm đắc nhất 2021</a>
                        </h4>
                        <a href="" class="thumb" title="Top truyện ngược cổ đại tâm đắc nhất 2021" rel="nofollow">
                            <img width="160" height="112" src="~/Content/img/lac_lac.jpg" alt="Top truyện ngược cổ đại tâm đắc nhất 2021" />
                        </a>
                        <p>Bạn cảm thấy top truyện ngược cổ đại trên như thế nào? Còn chỗ nào bạn thấy thiếu sót nữa không? Nếu có thì hãy bình luận bên dưới cho chúng tớ biết nha!</p>
                    </div>
                </div>
                <footer>
                    <div class="pagination-control">
                        <ul class="pagination">
                            <li class="active">
                                <a href="#" rel="nofollow">1</a>
                            </li>
                            <li>
                                <a href="/">2</a>
                            </li>


                        </ul>
                    </div>
                </footer>
            </section>
        </div>
    </div>
</div>
<link href="~/Content/css/reviewmore.css" rel="stylesheet" />
